{% extends "./layout.html" %}

{% block content %}


<div class="row" style="height:90%;">

    <div class="col-lg-12 col-md-12 col-s-12 col-xs-12">
        <div id="homeButtons">
            <div class="btn-group">
                <button onclick="drawRec();" class="btn btn-success" id="drawRec">Draw Rectangle</button>
                <button onclick="clearRec();" class="btn btn-success">Clear Rectangle</button>
            </div>
            
            
            <div class="btn-group">
                <button onclick="saveCoordinates()" class="btn btn-success" type="submit" id="confirm">Confirm</button>
                <a href="./object_viewer">
                    <button class="btn btn-success" id="generate">Generate</button>
                </a>
            </div>
        </div>
        
    
        <div id="map"></div>
        <!--initializes map and has functions for drawing-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPklbA7Rlz_7FQhBJ4upMd5QR6wpdD1co&callback=initMap" async defer></script>
        
    
    </div>
</div>

<script>
    var this_nav = document.querySelectorAll("a[href='../']");
    this_nav[0].parentElement.classList.add('active');
    document.getElementById("confirm").disabled = true;
    document.getElementById("generate").disabled = true;
</script>
    

{% endblock %}