{% extends "./layout.html" %}

{% block content %}

        <script src="{{ url_for('static', filename='js/threeMin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/three.OrbitControls.js') }}"></script>
        

        <div id="object_viewer_div">    
        </div>


        <script>
            var this_nav = document.querySelectorAll("a[href='./object_viewer']");
			this_nav[0].parentElement.classList.add('active');
            
            build()            
        </script>
        

        

{% endblock %}
